/* 
img {
  width: 100%;
  height: 100%;
}
.space {
  
  position: absolute;
}
.title2{
}
.skillRow{
  margin-top: 5px;
margin-left: -200px !important;
}
.title{
  margin-top: 50px;
  margin-left:120px !important;
}
.loadingImg{
  width: 220px;
  margin-bottom:-515px;
}
.carousel{
  margin-left: -270px;
  width:272px
}
.col1{
  background-color: #22ACC0;
}
.skillName{
  margin-bottom: -15px;
  font-size:16px
}

.carousel2{
  width:300px !important;

}
.skillInline{
  height:10px !important;
  width:290px !important;
  border: 1px solid #22ACC0 !important;
  margin-left: 0px !important;
}

.laptop{
  position: relative;
  width: 300px;
  margin-top: 20rem;
}
.rowLaptop{
  color:#22ACC0;
  font-size:28px;
  font-weight: 1000;
  letter-spacing:1px;
  font-family: 'Playfair Display', serif;
}
#firstCol{
  background-color:#22ACC0;
 border: 4px double #22ACC0;
 border-top:none;
 border-left:none;
 border-bottom:none;
}
.firstName1 {
  color:black;
  font-size: 230px;
  letter-spacing:10px;
  margin-top: -35px;
}
.jobTitle{
  color:black;
  font-size: 50px;
  letter-spacing:3px;
  margin-top: -18px;
  background-color:black;
  color:#22ACC0;
  padding-left: 10px;
  padding-right: 10px;
}
.infoText{
  color:black; margin-left:15px;
  font-size:19px;
  letter-spacing: 1px;
}

.icon{
color:#22ACC0;
background-color:black;
padding:7px;
font-size: 30px;
border-radius:50px;
margin-left: 98px;
}
.secondName{
  color:black;
  font-size: 88px;
  letter-spacing:3px;
  margin-top: -100px;
}
.firstName2 {
  color:black;
  font-size: 230px;
  letter-spacing:30px;
  margin-top: -180px;
}
div{
}
.item3{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.caption{
  margin-bottom: 120px;
}
h3{
  color:black;
  font-size: 30px;
}
p{
  color:black;
  font-size: 20px;
}
.text2{
  font-size:13.5px;
  font-weight:400;
  text-align: left;
  width:500px;
  border: 1px solid #22ACC0;
  border-top:none;
  border-right:none;
  border-bottom:none;
}
.skill{
  border:2px solid #22ACC0;
  border-radius: 50px;
  width:55px;
  height:55px;
  text-align:center;
  padding-top: 15px;
  margin-left: 30px;
}
.skill2{
  border:2px solid #22ACC0;
  background-color:#22ACC0;
  color:black;
  border-radius: 50px;
  width:55px;
  height:55px;
  text-align:center;
  padding-top: 15px;
  margin-left: 30px;
}
.text{
  font-size:13.5px;
  font-weight:400;
  padding-left: 40px;
  text-align: left;
  width:500px;
  margin-left:100px !important;
  border: 1px solid #22ACC0;
  border-top:none;
  border-right:none;
  border-bottom:none;

  
}
.carousel1{
  margin-left: 15px;
}
@media screen and (max-width: 600px) {
  .text {
    width:270px !important;
    margin-left: 30px !important;
    padding-left: 10px !important;
  }
  .jobTitle{
    font-size:27px;
    margin-left: -18px !important;
    margin-top: -10px;
  }
  .icon{
    margin-left: 30px;
  }
  .carousel1{
    margin-left: 1px !important;
    margin-bottom: 100px !important;
  }
  .carousel{
    margin-left: 0px !important;
  }
  .secondName{
    font-size:55px;
    margin-top: -70pxs;
  }
  .firstName1{
    font-size:110px !important;
    margin-left:-10px;
  }
  .firstName2{
    font-size:110px !important;
    margin-left: 10px;
margin-top: -90px;
margin-bottom: 50px;
letter-spacing:27px
  }
  .title2{
    margin-left: 0px !important;
    justify-content:center !important;
    margin-left: 0px !important;
  }
  .certificates{
  justify-content:center !important;
  margin-left: 0px !important;
  }
  .carouselRowInside{
    justify-content:center !important;
  }
  .text2{
    margin-left: -10px !important;
  }
  .skill{
    margin-left: 10px !important;
  }
  .skill2{
    margin-left: 10px !important;
  }
  .technologyCon{
    margin-left: 0px !important;
  }
  .software{
    margin-top: 300px !important;
  }
}
.carousel2{
  margin-left: -160px;
} */




#firstCol{
  background-color:#22ACC0;
  height:100%
}
.firstName1{
color:#0F0F0F;
font-size:100px;
font-family: 'Playfair Display', serif;
margin-top: -20px !important;
}
.firstName2{
  color:#0F0F0F;
  font-size:100px;
  font-family: 'Playfair Display', serif;

}
.infoDiv{
  width:60% !important
}

.secondName{
  color:#0F0F0F;
  font-size: 90px;
  letter-spacing:3px;
  font-family: 'Playfair Display', serif;
  margin-top: -15px !important;
  
}
.jobTitle{
  font-family: 'Playfair Display', serif;
  color:black;
  font-size: 60px;
  letter-spacing:3px;
  margin-top:18px;
  background-color:black;
  color:#22ACC0;
  padding-left: 20px;
  padding-right: 10px;
  height: 90px;
  width:290px;
  
}
.icon{
  color:#22ACC0;
  background-color:black;
  padding:7px;
  font-size: 30px;
  border-radius:50px;
  margin-left: 20px;
  margin-right: 10px;
  border:1px solid #22ACC0;
  }
  .infoText{
    color:#22ACC0;
  }
  .text{
    font-size:13.5px;
    font-weight:400;
    padding-left: 20px;
    text-align: left;
    margin-left:5px !important;
    border: 1px solid #22ACC0;
    border-top:none;
    border-right:none;
    border-bottom:none;
    letter-spacing: 1px;
  color:#22ACC0;
    
  }
  .title{
    margin-left:70px !important;
    color:#22ACC0;
    font-size:30px
  }
  .certificates{
    margin-top: 50px;
    color:#22ACC0;
    font-size:30px
  }
  .item1{
    width:300px
  }
  .item3{
    width:350px;
    margin-top: -200px;
    z-index: 3 !important;
  }
.fulsltack{
margin-left: 0px !important;
}
.lastCol{
  margin-top: -530px;
}
.skillInline{
  height:10px !important;
  width:290px !important;
  border: 1px solid #22ACC0 !important;
  margin-left: 0px !important;
}
.skillName{
  margin-bottom: -15px;
  font-size:16px;
  color: #22ACC0 !important
}
.infoRow{
  display:flex !important;
  justify-content:space-evenly !important
}
.col1{
  background-color: #22ACC0;
}
.skill2{
  border:2px solid #22ACC0;
  background-color:#22ACC0;
  color:black;
  border-radius: 50px;
  width:55px;
  height:55px;
  text-align:center;
  padding-top: 15px;
  margin-left: 10px;
}
.skill{
  border:2px solid #22ACC0;
  border-radius: 50px;
  width:55px;
  height:55px;
  text-align:center;
  padding-top: 15px;
  margin-left: 10px;
  color: #22ACC0 !important
}
.title2{
  color: #22ACC0 !important;
  font-size:23px;
  margin-bottom: 16px;
  margin-left: -30px !important;
}
.text2{
  margin-left: -50px !important;
}